body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff); /* Blue gradient background */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #0072ff; /* Top bar color */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.top-bar {
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #005bb5; /* Navigation background color */
    padding: 10px;
    border-radius: 0 0 10px 10px; /* Rounded corners on the bottom */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #003d7a;
    text-decoration: none;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 80px auto 20px; /* Adjusted margin to account for fixed header */
    text-align: center;
}

#extractor input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #0072ff; /* Button color */
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #005bb5;
}

.results {
    margin-top: 20px;
    display: none;
    text-align: left;
}

.result-box {
    margin-bottom: 20px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
    position: relative;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
    overflow: auto;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
}

textarea:focus {
    outline: none;
}

button.copy-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

footer {
    background-color: #003d7a; /* Footer color */
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

footer h2 {
    margin-top: 0;
}
